@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite NZ", cursive;
}

[v-cloak] {
  display: none;
}

body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

header {
  background-color: #0a090f;
}

h1 {
  font-size: 2rem;
  color: #fdcd15;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  text-align: center;
  padding: 20px;
  color: white;
  border-radius: 20px;
  background-color: #0a090f;
}

.card:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(248, 27, 3, 1) 0%,
    rgba(255, 100, 134, 1) 49%,
    rgba(253, 208, 46, 1) 100%
  );
}

.cover {
  width: 300px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 120px;
  margin: 50px;
}
