/* IMPORT FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

[v-cloak] {
  display: none;
}

/* STYLE */
body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

header {
  background-color: #0a090f;
}

h1 {
  font-size: 2rem;
  color: #fdcd15;
}

/* LAYOUT */
.mycontainer {
  margin: 0 auto;
  width: 80%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
  position: relative;
}

.cards {
  text-align: center;
  padding: 20px;
  color: white;
  border-radius: 20px;
  background-color: #0a090fb0;
  position: relative;
}

.cards:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(248, 27, 3, 1) 0%,
    rgba(183, 24, 148, 1) 58%,
    rgba(253, 208, 46, 1) 100%
  );
}

.cards:hover > i {
  display: block;
}

.cover {
  width: 300px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 140px;
  margin: 40px;
}

.newDisc {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -40px;
  right: 40px;
}

.fa-compact-disc {
  font-size: 30px;
  color: #0a090fb0;
}

.addIcon:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(248, 27, 3, 1) 0%,
    rgba(183, 24, 148, 1) 58%,
    rgba(253, 208, 46, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addIcon {
  color: #0a090fb0;
}

.fa-plus {
  color: #0a090fb0;
  font-size: 16px;
  vertical-align: top;
}

/* Modal Info */

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.newDiscForm {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(to right, #0f0c2998, #302b638f, #24243e9a) #383232;
  margin: auto;
  padding: 40px;
  border: 2px solid;
  border-image: linear-gradient(
      rgba(248, 27, 3, 1) 0%,
      rgba(183, 24, 148, 1) 58%,
      rgba(253, 208, 46, 1) 100%
    )
    90;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  position: relative;
}

.newDisc-content {
  background: linear-gradient(to right, #0f0c2998, #302b638f, #24243e9a) #383232;
  margin: auto;
  padding: 40px;
  border: 2px solid;
  border-image: linear-gradient(
      rgba(248, 27, 3, 1) 0%,
      rgba(183, 24, 148, 1) 58%,
      rgba(253, 208, 46, 1) 100%
    )
    90;
  width: 50%;
  max-width: 1200px;
  position: relative;
  color: antiquewhite;
}

.close-info {
  color: #aaa;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-info:hover,
.close-info:focus {
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
}

.cover-info {
  width: 450px;
}

.cards h2,
h3,
h4 {
  margin-top: 10px;
}

.cards h2 {
  font-size: 23px;
}
.cards h3 {
  font-size: 20px;
}
.cards h4 {
  font-size: 18px;
}

.cards > i {
  position: absolute;
  top: 5px;
  left: 7px;
  color: rgb(255, 255, 255);
  display: none;
}

.checkDelete {
  position: absolute;
  width: 60%;
  background-color: #0a090f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 10;
}

.album {
  color: antiquewhite;
}

.album h2 {
  margin-top: 12px;
}

.disc-info {
  color: antiquewhite;
}

.disc-info p {
  font-size: 23px;
  padding-top: 20px;
  line-height: 1.5;
}

.disc-info div {
  font-size: 27px;
  padding: 0 15px;
  display: inline-block;
}

.disc-info span,
.album span {
  font-style: italic;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1200px) {
  .disc-info p {
    font-size: 20px;
  }

  .disc-info div {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .info-content {
    flex-wrap: wrap;
  }

  .cover-info {
    width: 350px;
  }
}

@media screen and (max-width: 576px) {
  .cover-info {
    width: 300px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 376px) {
  .cover-info {
    width: 250px;
  }
}
